body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evitar el scroll horizontal */
}

header {
    background-color: #797978;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px; /* Ajusta según sea necesario */
    height: auto;
    margin-right: 20px; /* Espacio entre el logo y el texto */
}

nav {
    width: 100%;
    background-color: #333;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Para que los elementos se ajusten en dispositivos más pequeños */
}

nav ul li {
    padding: 14px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

.menu-toggle {
    display: none; /* Ocultar el botón del menú en dispositivos grandes */
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    padding: 14px 20px;
}

.activity-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 2px solid #007bff;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}

.activity-item:hover {
    background-color: #007bff;
    color: #fff;
}

.activity-item i {
    font-size: 2em;
    margin-bottom: 10px;
}

.activity-item p {
    margin: 0;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h2 {
    color: #333;
}

#mapa {
    margin-top: 20px;
}

.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-item {
    text-align: center;
}

.contact-item i {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 8px;
}

.contact-item a {
    color: inherit; /* Mantener el color del texto */
    text-decoration: none; /* Quitar el subrayado */
}

.form-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar el botón del menú en dispositivos pequeños */
    }

    .nav-links {
        display: none; /* Ocultar el menú por defecto en dispositivos pequeños */
        flex-direction: column; /* Cambiar la dirección a columna para dispositivos pequeños */
        width: 100%; /* Ocupa todo el ancho */
        background-color: #333; /* Fondo oscuro */
    }

    .nav-links.mobile-menu {
        display: flex; /* Mostrar el menú al hacer clic en el botón */
    }

    nav ul li {
        width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
        text-align: center; /* Centrar el texto */
    }
}

