body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evitar el scroll horizontal */
    font-size: 0.8rem; /* Reducir el tamaño de la fuente en general */
    font-weight: 100;
}

header {
    background-color: #797978;
    color: white;
    padding: 10px; /* Reducir el padding */
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 30px; /* Ajusta según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

nav {
    width: 100%;
    background-color: #333;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Para que los elementos se ajusten en dispositivos más pequeños */
}

nav ul li {
    padding: 8px 10px; /* Reducir el padding */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem; /* Reducir el tamaño de la fuente */
}

nav ul li a:hover {
    background-color: #4CAF50;
}

.menu-toggle {
    display: none; /* Ocultar el botón del menú en dispositivos grandes */
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    padding: 8px 10px; /* Reducir el padding */
}

.activity-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Tamaño original del círculo */
    height: 100px; /* Tamaño original del círculo */
    border: 2px solid #4CAF50;
    border-radius: 50%;
    margin: 6px; /* Reducir el margen */
    text-align: center;
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}

.activity-item:hover {
    background-color: #4CAF50;
    color: #fff;
}

.activity-item i {
    font-size: 1.8em; /* Modifica el tamaño de los iconos según sea necesario */
    margin-bottom: 6px;
}


.activity-item p {
    margin: 0;
    font-size: 0.6em; /* Reducir el tamaño del texto */
}

main {
    width: 100%;
    max-width: 600px; /* Reducir el ancho máximo */
    margin: 40px auto; /* Aumentar la separación entre secciones */
    padding: 10px; /* Reducir el padding */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    font-size: 1.0rem;
}

h2 {
    color: #333;
    font-size: 1.1em; /* Reducir el tamaño del título */
    border-bottom: 2px solid #4CAF50; /* Subrayado */
    padding-bottom: 5px;
    display: inline-block;
    width: 100%; /* Ocupa el 100% del contenedor */
    box-sizing: border-box;
}

#mapa {
    margin-top: 20px; /* Reducir el margen */
}

.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
}

section{
    padding-bottom: 20px;
}

section h2{
    font-size: 2.0rem;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    border: 5px;
}

.carousel-inner img {
    height: 350px; /* Reducir la altura de las imágenes del carrusel */
    object-fit: cover;
    width: auto;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.contact-item {
    text-align: center;
    
}

.contact-item i {
    font-size: 20px; /* Reducir el tamaño del icono */
    color: #4CAF50;
    margin-bottom: 8px;
    
}

.contact-item a {
    color: inherit; /* Mantener el color del texto */
    text-decoration: none; /* Quitar el subrayado */
}

.form-container {
    margin-top: 30px; /* Aumentar el margen */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0.7em; /* Reducir el tamaño del texto */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px; /* Reducir el padding */
    margin-bottom: 15px; /* Reducir el margen */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.7em; /* Reducir el tamaño de la fuente */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px; /* Reducir el padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em; /* Reducir el tamaño del texto */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar el botón del menú en dispositivos pequeños */
    }

    .nav-links {
        display: none; /* Ocultar el menú por defecto en dispositivos pequeños */
        flex-direction: column; /* Cambiar la dirección a columna para dispositivos pequeños */
        width: 100%; /* Ocupa todo el ancho */
        background-color: #333; /* Fondo oscuro */
    }

    .nav-links.mobile-menu {
        display: flex; /* Mostrar el menú al hacer clic en el botón */
    }

    nav ul li {
        width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
        text-align: center; /* Centrar el texto */
    }
}
